# Datasets
New-Plant-Diseases-Dataset(Augmented)/
New-Plant-Diseases-Dataset(Augmented).7z
New-Plant-Diseases-Dataset(Augmented).zip

# Ultralytics files
train13/
runs/

# Environment files
*.env
venv/
.venv/
build/

# Python files
__pycache__
